.information {
    margin: 95px 0;

    .information__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @include tablet {
            flex-direction: column;

            picture {
                order: -1;
            }
        }

        .information__content {
            max-width: 520px;

            h2 {
                margin-bottom: 4rem;
                font-size: 4rem;
                font-weight: 700;
                line-height: 1;
                color: black;

                @include tablet {
                    margin-bottom: 1rem;
                    font-size: 3rem;
                    text-align: center;
                }
            }
    
            p {
                font-size: 1rem;
                font-weight: 400;
                color: black;
            }
        }
    }
}