.socialMedia {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 5px 5px 0;
    z-index: 1000;
    transition: background-color 0.3s;

    a {
        padding: 1rem;
        background-color: $gray_dark;
        border-bottom: 1px solid $gray;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($gray_dark, 10%);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    i {
        color: white;
    }

    @include mobile {
        display: none;
    }
}